# package-lock=false
scope=@bitflight-devops
access=public
bitflight-devops:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
# always-auth=true
merge-git-branch-lockfiles-branch-pattern[]=main
merge-git-branch-lockfiles-branch-pattern[]=release*
progress=false
