# package-lock=false
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
scope=@bitflight-devops
access=public
bitflight-devops:registry=https://registry.npmjs.org/
always-auth=true
merge-git-branch-lockfiles-branch-pattern[]=main
merge-git-branch-lockfiles-branch-pattern[]=release*
use-node-version=20.7.0
node-version=20.7.0
progress=false
