dist/
lib/
out/
node_modules/
**/.vscode
**/.vs
/.yarn/
**/yarn.lock
/pnp*
# Ignore CHANGELOG.md files to avoid issues with automated release job
CHANGELOG.md
**/.trunk/**
**/.husky
package.json
.ghadocs.json
package-lock.json
