name: GitHub Actions Version Updater

# Controls when the action will run.
on:
  schedule:
    # Automatically run on every Sunday
    - cron: "0 0 * * 0"

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0
        with:
          # [Required] Access token with `workflow` scope.
          token: ${{ secrets.RELEASE_TOKEN }}

      - name: Run GitHub Actions Version Updater
        uses: saadmk11/github-actions-version-updater@v0.9.0
        with:
          # [Required] Access token with `workflow` scope.
          token: ${{ secrets.RELEASE_TOKEN }}
          pull_request_branch: "github-actions-updates"
          pull_request_labels: "dependencies, automated"
