name: Code Linting Annotation
on:
  pull_request:
    branches:
      - main
      - next
      - beta
      - "*.x"
  push:
    branches:
      - main
      - next
      - beta
      - "*.x"

concurrency:
  group: ci-linting-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  eslint_annotation:
    name: runner / eslint
    if: (!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci'))
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      actions: write
      statuses: write
      checks: write
    env:
      NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
    steps:
      - uses: actions/checkout@v4.1.4

      - name: Install compatible Nodejs version
        id: setup-node
        uses: ./.github/actions/setup-node
        
      - name: Install Deps
        run: npm install
      - uses: xt0rted/markdownlint-problem-matcher@v3.0.0
      - run: npm run lint:markdown
        continue-on-error: true
      - name: eslint
        uses: reviewdog/action-eslint@v1.24.0
        with:
          reporter: github-pr-review # Change reporter.
          eslint_flags: src/
          github_token: ${{ secrets.GITHUB_TOKEN }}
